//Variables Color Scheme

// Variables First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Variables Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Variables Third Color Scheme
$eerie-bolack: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Variables Font Family
$lobstertwo: 'Lobster', cursive;

//Variables Font Weight
$regular: 300;
$my-light: 400;
$black-italic: 900;

//Varibles Font Sizes
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Variables bootstrap
//72
$success: #62888d;
//1140
$tooltip-bg: #555;
//1139
