.carousel-item {

  &__imagen {
    height: 40vw;
    object-fit: cover;
  }

&__title{
   font-family: $lobstertwo;
   color: rgb(219, 230, 77);
   opacity: 0.8;
   text-shadow: 3px 3px 2px black;
}

&__parragraph{
   font-family: $lobstertwo;
    color: rgb(219, 230, 77);
    opacity: 0.8;
    text-shadow: 3px 3px 2px black;
}

}

.carousel-indicators{

&__button{
  width:18px !important;
  height: 18px !important;
  background-color: #3f585c !important;
  border: 2px solid white !important;
  border-radius: 50%;
}

}




